/* General */
html { 
  font-size: 62.5%; 
}

h1, h2, h3, h4, h5, h6, p{
  font-family: 'Poppins', sans-serif;
  color: white;
}

section {
  padding: 2% 15%;
}

.arrow {
  padding-bottom: 0;
  font-size: 3rem;
  color: white;
  transition: padding-bottom 0.5s ease;
}

.arrow:hover {
  padding-bottom: 1%;
  transition: padding-bottom 0.5s ease;
}

/* Navbar */
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
}

.navbar-dark .navbar-nav .nav-link {
  position: relative;
  color: white;
  font-size: 2rem;
}
.navbar-dark .navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform: scaleX(0);
  /* transform-origin: top left; */
  transition: transform 0.3s ease;
}

.navbar-dark .navbar-nav .nav-link:hover::before {
  transform: scaleX(1);
}

/* Home Page */
#homePage {
  position: relative;
  height: 100vh;
  background-color: rgb(24,16,41);
}

.homeObjects {
  text-align: center;
}

.homePageImg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70%;
  margin: auto auto;
  z-index: 0;
}

.titleText {
  bottom: 10%;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  z-index: 1;
  font-weight: 100;
  font-size: 4.3rem;
}

.titleArrow {
  position: absolute;
  bottom: 3%;
}

/* About on Landing Page */

#aboutSection {
  height: auto;
  background: linear-gradient(#181029,#1C0C5B);
  position: relative;
}

.aboutMe {
  margin-left: 2%;
  height: auto;
}

.aboutProject {
  margin-top: 5%;
  text-align: right;
}

.textContent {
  width: 70%;
  display: inline-block;
}

#aboutSection h1 {
  font-weight: 900;
  font-size: 6rem;
}

#aboutSection h2 {
  font-weight: 300;
  font-size: 4rem;
}

#aboutSection h3 {
  font-weight: 300;
  font-size: 2rem;
}


#aboutSection p, a {
  font-size: 2rem;
  text-decoration: none;
  color: white;
  transition-property: margin-left color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  /* transition: margin-left 0.5s ease-out; */
}


#aboutSection a:hover {
  color: grey;
  margin-left: 3%;
  transition-property: margin-left color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  /* transition: margin-left 0.5s ease-out; */
}

#aboutSection .digitalNarrative {
  width: auto;
}

.aboutMeImg {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  object-position: 0 0;
  border-radius: 50%;
  display: inline-block;
}

.aboutProjectImg {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  object-position: 40% 0;
  border-radius: 50%;
  display: inline-block;
}

.aboutArrow {
  position: absolute;
  right: 48%;
  bottom: 3%;
}

/* Timeline on Landing Page */
#timelineSection {
  height:auto;
  /* background: linear-gradient(#1C0C5B, slateblue) */
  background-color: slateblue;
  
}

#timelineSection img {
  margin: 0 auto;
  display: block;
  border-radius: 3rem;
}

#timelineSection h1 {
  font-weight: 900;
  font-size: 6rem;
}

#timelineSection h2 {
  font-weight: 100;
  font-size: 4rem;
}

#timelineSection h3 {
  margin-left: 5%;
}

.vl {
  position: absolute;
  right: 50%;
  transform: translate(50%,0%);
  height: 100rem;
  border: 2px solid white;
}

.headerSpace {
  height: 10rem;  
}

#timelineSection .row {
  padding: 3rem;
}

.dot {
  text-align: center;
}

.dot i{
  color: white;
  font-size: 3rem;
}

.event {
  /* border: 2px white solid; */
  border-radius: 1rem;
  padding: 2rem;
  background-color: #7A7ACD;/*#5A6ACD;*/

}


/* Sources on Landing Page */
#sourcesSection {
  height: 100vh;
  background: linear-gradient(slateblue, #EEEEEE)
}